body{
  background-color: azure;
}
.Board {
    width:100%;
    height: 250px;
    border: 2px solid black;
  }
  .chart{
    display: flex;
  }
  .header{
    background-color: blue;
    color: aliceblue;
    width: 100px;
    font-size: small;
    display: inline-block;
  }
  .item{
    display: flex;
    border: 1px solid black;
    width: 100px;
    font-size: small;
    background-color: gray;
  }
  .container{
    max-width: 100%;
    margin: 2px;
  }